.container-fluid{
 
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    margin-top: 30px;
    
   
}

.tech-icons {
    font-size: 4.5em !important;
    color:white;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgb(89, 0, 190) !important;
    vertical-align: middle !important;
    
    border-radius: 5px !important;
   
    box-shadow: 4px 5px 4px 3px rgba(117, 0, 250, 0.37) !important;
    overflow: hidden!important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(117, 0, 250, 1) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
    
  }
  .container h3{
    font-size: 45px;
    color: white;
    text-align: center;
  }
  .container{
    margin-top: 150px;
  }
  
