@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background:#ffffff;
    --body_color:black;
    --link_color:navy;
}

[data-theme="dark"]{
    --body_background:black;
    --body_color:white;
    --link_color:cyan;
}
body{
    font-family: 'Poppins', sans-serif;
   
    overflow-x: hidden;
}

  
  
